
.color-3{
  color: #333 !important;
}
.color-6 {
  color: #666;
}
.color-9 {
  color: #999;
}
.color-c{
  color: #ccc !important;
}
.color-0{
  color: #000 !important;
}

.color-w{
  color: white !important;
}
.bg-primary{
  background: #3683e1;
}
.bg-warning{
  background:#E6A23C;
}
.bg-danger{
  background: #F56C6C;
}
