$blue:#324157;
$light-blue:#5758b8;
$light-blue2:#e4e4fd;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
    
// //sidebar
$menuBg:#083858;
$subMenuBg:#083858;
$menuHover:#052235;
$menuColor1:white;
$menuColor2:#F87D42;
$sideBarBg:#083858;


//ele-ui主题色
$primary: #3b3ebb;
$danger: #F55C47;
$success: #1EAE98;
$warning: #0c0b0b;
$info: #909399;
$tableBorder: #ccc;
$success_1: #f0f9eb;

